@tailwind base;
@tailwind components;
@tailwind utilities;

/* SITE COLOR SCHEME

black - 34, 34, 34 (neutral-800)
white - 249, 247, 255 (purple-50)
pri - 61, 144, 227 (blue-500)
sec - 23, 78, 135 (sky-800)
 */

 :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 34, 34, 34;
    --background-start-rgb: 249, 247, 255;
    --background-end-rgb: 249, 247, 255;
    --secondary-rgb: 23, 78, 135;
    --primary-rgb: 61, 144, 227;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex: 1;
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  main {
    @apply
    
    w-4/5 
    m-2
    rounded-md
    drop-shadow-lg
    bg-purple-50
    p-2
  }
  
}


